@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    --primary-color: rgb(124, 23, 23);
}

* {
    padding: 0;
    margin: 0;
}

html, body {
    position: relative; 
    height: 100%;    
}

main {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
}

.slider-container {
    flex-grow: 1;
    background-color: black;
    display: flex;  
    justify-content: center;
    align-items: center;
}

.slider-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color); 
    position: relative;
    width: 80%;
    height: 90%;
    overflow: hidden;
    border-radius: 2em;
}

.slider {
    display: flex;
    width: 800%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transition: all 1s ease;
}

.slide {
    background-color: var(--primary-color);
    width: 12.5%;
    font-size: 1.5em;
    font-family: 'Montserrat';
    text-align: center;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4em;
    border-radius: 2em;
}

.slide img {
    width: 20%;
}

button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.right-arrow {
    width: 3.5em;
    margin-left: 2em;
}

.left-arrow {
    width: 3.5em;
    margin-right: 2em;
}